.list{
    background-color:white;
    
    color: black;
    width: 300px;
    height: 50px;
    margin: 20px;
    
    font-size: 18px;
    border-radius: 10px;
}
.list p{ 
    
    color: black;
    width: 300px;
    height: 50px;
    
    
    font-size: 18px;
    border-radius: 10px;
}
.text{
    margin-left: 15px;
}
.list p  div{
    display: inline-block;
    padding-top: 5px;
    outline: none;
}
.done [value] {
    color:gray;
    text-decoration: line-through;
}