.list {
  color: white;
  width: 300px;
  margin: 20px;
  height: 50px;
  background-color: white;
  border-radius: 5px;
}
.list p {
  padding: 10px;
  position: relative;
  transition: ease-in-out;
}
.list p input {
  background-color: transparent;
  border: 20px;
  color: black;
  font-size: 18px;
}
.list p input:focus {
  outline: none;
}
.list p span {
  position: absolute;
  right: 10px;
}
.done {
  color: green;
  text-decoration: line-through;
}
.delete-button {
  margin: 0 5px;
  font-size: 15px;
  cursor: pointer;
}

